* { 
    padding: 0;
    margin: 0;
    font-size: 100%;
}

*/
	/* Basic body styling. */
	body {
    background-color: aqua;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-family: 'Roboto Condensed', sans-serif;
	}

.bg-img {position: fixed;}

/* The container that the card is centred inside. */
	.container {
	position: fixed !important;
	position: absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
	}
	

/* clock */


	.clock {
  position: absolute;
  height: 100px;
  width: 100px;
  background: white;
  box-sizing: border-box;
  border-radius: 100%;
  border: 5px solid darkgrey;
  position: absolute;
  top: -500px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
        
.clock .top {
  position: absolute;
  width: 3px;
  height: 8px;
  background: #262626;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.clock .right {
  position: absolute;
  width: 8px;
  height: 3px;
  background: #262626;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 0;
}
.clock .bottom {
  position: absolute;
  width: 3px;
  height: 8px;
  background: #262626;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}
.clock .left {
  position: absolute;
  width: 8px;
  height: 3px;
  background: #262626;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
}
.clock .center {
  height: 6px;
  width: 6px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #262626;
  border-radius: 100%;
}
.clock .shadow {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 24px;
  top: 23px;
  transform: rotate(135deg);
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
}
.clock .hour {
  width: 2px;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  animation: time 60s infinite linear;
}
.clock .hour:before {
  position: absolute;
  content: "";
  background: #262626;
  height: 35px;
  width: 3px;
  top: 8px;
}
.clock .minute {
  width: 1px;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  animation: time 30s infinite linear;
}
.clock .minute:before {
  position: absolute;
  content: "";
  background: #262626;
  height:20px;
  width: 1.5px;
  top: 23px;
}
.clock .second {
  width: 0.5px;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  animation: time 15s infinite linear;
}
.clock .second:before {
  position: absolute;
  content: "";
  background: #fd1111;
  height: 35px;
  width: 2px;
  top: 7.5px;
}

@keyframes time {
  to {
    transform: rotate(360deg);
  }
}
	
	p {
    color: white;
    width:300px;
    font-size: 2.5vh;
    font-size: 2.4vw;
    font-family: Roboto Slab;
    z-index: 200;
    position:relative; 
    text-align: center;
    margin-top: -22%;
    margin-left: -3%;
    font-weight: 600;
} 

 
.button
{
        background-color: grey;
        border: none;
        border-radius: 50%;
        outline: none;
        color: #fff;
        width: 36.2px;
        height: 36px;
        font-family: Roboto Slab;
        font-size: 1.5vh;
        font-size: 1.5vw;
        margin-top: 41.55%;
        margin-left: 57.8822%;
        z-index: 200;
        position:absolute;
        animation-duration: 800ms;
        animation-name: blink;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    
}
    @keyframes blink {
   from {
      background:grey;
   }
   to {
      background: red;
   }
	
	@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
	@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
	@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
	.fade-in {
	opacity:0; 
	-webkit-animation:fadeIn ease-in 1; 
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
	}
        
          
